<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Data tables</title>
 
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/bootstrap.min.css") }} />
<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
        background: #f5f5f5;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
    div.hero-small {
        background-color: #f5f5f5;
        padding: 25px;
        padding-left: 60px;
        margin-bottom: auto;
        display: none;
    }
    td.details {
        border: 1; 
        padding: 0;
        background-color: #ccc; 
    }
    div.main-container {
        margin-left: auto;
        margin-right: auto;
        width: 740px;
        float: left;
    }
    div.switch {
        margin-bottom: 10px;
        margin-right: 10px;
        float: right;
    }
</style>
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/bootstrap-responsive.min.css") }} />
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/bootstrap-datatables.css") }} />
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/flick/jquery-ui-1.8.18.custom.css") }} />
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/jquery.multiselect.css") }} />
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/jquery.multiselect.filter.css") }} />
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Indicator of Compromise Dashboard</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Execution time from</li>
                        <li><input style="width: 90px;" id="exec_date" name="exec_date" maxlength="10" /></li>

                        <li class="nav-header">Execution time until</li>
                        <li><input style="width: 90px;" id="exec_date2" name="exec_date2" maxlength="10" /></li>

                        <li class="nav-header">IOCs</li>
                            <li>
                                <select title="IOCs" name="iocs" id="iocs-list" multiple="multiple">
                                </select>
                            </li>

                        <li class="nav-header">Hosts</li>
                            <li>
                                <select title="Hosts" name="hosts" id="hosts-list" multiple="multiple">
                                </select>
                            </li>

                        <li class="nav-header">Category</li>
                            <li>
                                <select title="Category" name="category" id="categories-list" multiple="multiple">
                                </select>
                            </li>

                        <li class="nav-header">Severity</li>
                            <li>
                            <select title="Severity" name="severity" id="severities-list" multiple="multiple">
                            </select>
                            </li>

                        <li class="nav-header">Confidence</li>
                            <li>
                            <select title="Confidence" name="confidence" id="confidences-list" multiple="multiple">
                            </select>
                            </li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span10">
                <div class="main-container">
                    <div class="switch btn-group">
                        <label>Sum by</label>
                        <button class="btn btn-primary disabled" id="severity-btn">Severity</button>
                        <button class="btn" id="count-btn">Binary count</button>
                    </div>
                    <div class="switch btn-group">
                        <label>Group by</label>
                        <button class="btn btn-primary disabled" id="ioc-btn">IOC</button>
                        <button class="btn" id="host-btn">Host</button>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tg_results">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="dataTables_empty">Loading data from server</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <footer>
        <p>&copy; Company 2012</p>
        </footer>

    </div><!--/.fluid-container-->

<!-- Javascript
================================================================================= -->
<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.7.1.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/bootstrap-datatables.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery-ui-1.8.18.custom.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery.multiselect.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery.multiselect.filter.min.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" charset="utf-8">
    /* Global vars */
    var SEVERITY = 'severity';
    var IOC_COUNT = 'ioc_count';
    var HOST_COUNT = 'host_count';

    var source_iocs = $SCRIPT_ROOT + "/_get_iocs";
    var source_hosts = $SCRIPT_ROOT + "/_get_host_binaries";

    // on document load
    $(function() {
        var group_by = 'ioc';
        var sum_by = SEVERITY;
        var Table;
        var ajaxSource = source_iocs;
        var params = {exec_date: "", exec_date2: "", iocs: [], hosts: [], categories: [], severities: [], confidences: []}
        /* Table initialisation */
        function loadDataTable() {
            if (group_by == 'ioc') {
                $('#tg_results thead tr').html('<th width="8%"></th> <th width="50%">Title</th> <th width="auto">Categories</th> <th width="12%">Severity</th> <th width="15%">Confidence</th> <th width="10%">Sum</th>');
                var columnDefs = [{ "mDataProp": null, "bSortable": false, "sClass": "control center", 
                                   "sDefaultContent": '<div style="text-align: center;"><i class="icon-plus-sign"></i></div>', "aTargets": [ 0 ]},
                                 { "mDataProp": 0, "bSortable": false, "aTargets": [ 1 ] },
                                 { "mDataProp": 1, "aTargets": [ 2 ] },
                                 { "mDataProp": 2, "aTargets": [ 3 ] },
                                 { "mDataProp": 3, "aTargets": [ 4 ] },
                                 { "mDataProp": 4, "aTargets": [ 5 ] }];
                var sorting = 5;
            }
            else {
                $('#tg_results thead tr').html('<th width="8%"></th> <th width="75%">Host</th> <th width="17%">Sum</th>');
                var columnDefs = [{ "mDataProp": null, "bSortable": false, "sClass": "control center", 
                                    "sDefaultContent": '<div style="text-align: center;"><i class="icon-plus-sign"></i></div>', "aTargets": [ 0 ]},
                                  { "mDataProp": 0, "bSortable": false, "aTargets": [ 1 ] },
                                  { "mDataProp": 1, "aTargets": [ 2 ] }];
                var sorting = 2;
            }

            Table = $('#tg_results').dataTable( {
                        "bProcessing": true,
                        "bServerSide": true,
                        "bDestroy": true,
                        "bAutoWidth": false,
                        "aoColumnDefs": columnDefs,
                        "aaSorting": [[ sorting, "desc" ]],
                        "sAjaxSource": ajaxSource,
                        "sDom": "<'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
                        "sPaginationType": "bootstrap",
                        "oLanguage": {"sLengthMenu": "_MENU_ records per page"},
                        "fnServerParams": function ( aoData ) {
                            aoData.push( { "name" : "sSumBy",    "value" : sum_by } );
                            aoData.push( { "name" : "sExecDate", "value" : params.exec_date } );
                            aoData.push( { "name" : "sExecDate2", "value" : params.exec_date2 } );
                            aoData.push( { "name" : "sIocs",     "value" : params.iocs } );
                            aoData.push( { "name" : "sHosts",    "value" : params.hosts } );
                            aoData.push( { "name" : "sCategories", "value" : params.categories } );
                            aoData.push( { "name" : "sSeverities", "value" : params.severities } );
                            aoData.push( { "name" : "sConfidences", "value" : params.confidences } );
                        }
                });
        }

        // add group by ioc and host button handlers
        $('#ioc-btn').click(function () {
              group_by = 'ioc';
              if (sum_by == IOC_COUNT) {
                  sum_by = HOST_COUNT;
              }
              $(this).addClass('btn-primary disabled');
              $('#host-btn').removeClass('btn-primary disabled');
              ajaxSource = source_iocs;
              loadDataTable();
        });
        $('#host-btn').click(function () {
              group_by = 'host';
              if (sum_by == HOST_COUNT) {
                  sum_by = IOC_COUNT;
              }
              $(this).addClass('btn-primary disabled');
              $('#ioc-btn').removeClass('btn-primary disabled');
              ajaxSource = source_hosts;
              loadDataTable();
        });

        // add sum by button handlers
        $('#severity-btn').click(function () {
            if (sum_by != SEVERITY) {
                  sum_by = SEVERITY;
                  $(this).addClass('btn-primary disabled');
                  $('#count-btn').removeClass('btn-primary disabled');
                  if (group_by == 'ioc') {
                      $('#ioc-btn').click();
                  } else {
                      $('#host-btn').click();
                  }
              }
        });
        $('#count-btn').click(function () {
            if (sum_by == SEVERITY) {
                $(this).addClass('btn-primary disabled');
                $('#severity-btn').removeClass('btn-primary disabled');
                if (group_by == 'ioc')
                {
                    sum_by = HOST_COUNT;
                    $('#ioc-btn').click();
                } else {
                    sum_by = IOC_COUNT;
                    $('#host-btn').click();
                }
            }
        });

        // populated filter counter
        var populated = 0;
        // Load the main table when all filters have been populated
        function populate_complete() {
            populated += 1;
            if (populated == 5)
            {
                $('.ui-multiselect').css('width', '165px');
                loadDataTable(); 
                populated = 0;
            }
        }

        // populate iocs 
        $.getJSON($SCRIPT_ROOT + "/_populate_iocs",
                  function (data) {
                      var items = []
                      $.each(data.iocs, function(ind, row) {
                          items.push('<option value="' + row[1] + '" selected="selected">' + row[0] + '</option>');
                          params.iocs.push(row[1]);
                          });
                      $(items.join('\n')).appendTo('ul #iocs-list');
                      $("select[name=iocs]").multiselect({
                          noneSelectedText: "Select IOC",
                          close: function () {
                              var vals = $(this).val();
                              params.iocs = vals;
                              Table.fnDraw();
                          }
                      }).multiselectfilter();
                  }).complete(populate_complete);
        // populate hosts
        $.getJSON($SCRIPT_ROOT + "/_populate_hosts",
                  function (data) {
                      var items = []
                      $.each(data.hosts, function(ind, row) {
                          items.push('<option value="' + row[1] + '" selected="selected">' + row[0] + '</option>');
                          params.hosts.push(row[1]);
                          });
                      $(items.join('\n')).appendTo('ul #hosts-list');
                      $("select[name=hosts]").multiselect({
                          noneSelectedText: "Select Host",
                          close: function () {
                              var vals = $(this).val();
                              params.hosts = vals;
                              Table.fnDraw();
                          }
                      }).multiselectfilter();
                  }).complete(populate_complete);
        // populate categories
        $.getJSON($SCRIPT_ROOT + "/_populate_categories",
                  function (data) {
                      var items = []
                      $.each(data.categories, function(ind, row) {
                          items.push('<option value="' + row + '" selected="selected">' + row + '</option>');
                          params.categories.push(row);
                          });
                      $(items.join('\n')).appendTo('ul #categories-list');
                      $("select[name=category]").multiselect({
                          noneSelectedText: "Select Category",
                          close: function () {
                              var vals = $(this).val();
                              params.categories = vals;
                              Table.fnDraw();
                          }
                      }).multiselectfilter();
                  }).complete(populate_complete);
        // populate severities
        $.getJSON($SCRIPT_ROOT + "/_populate_severities",
                  function (data) {
                      var items = []
                      $.each(data.severities, function(ind, row) {
                          items.push('<option value="' + row + '" selected="selected">' + row + '</option>');
                          params.severities.push(row);
                          });
                      $(items.join('\n')).appendTo('ul #severities-list');
                      $("select[name=severity]").multiselect({
                          noneSelectedText: "Select Severity",
                          close: function () {
                              var vals = $(this).val();
                              params.severities = vals;
                              Table.fnDraw();
                          }
                      }).multiselectfilter();
                  }).complete(populate_complete);
        // populate confidences
        $.getJSON($SCRIPT_ROOT + "/_populate_confidences",
                  function (data) {
                      var items = []
                      $.each(data.confidences, function(ind, row) {
                          items.push('<option value="' + row + '" selected="selected">' + row + '</option>');
                          params.confidences.push(row);
                          });
                      $(items.join('\n')).appendTo('ul #confidences-list');
                      $("select[name=confidence]").multiselect({
                          noneSelectedText: "Select Confidence",
                          close: function () {
                              var vals = $(this).val();
                              params.confidences  = vals;
                              Table.fnDraw();
                          }
                      }).multiselectfilter();
                  }).complete(populate_complete);


        // expand row logic
        var anOpen = []; // expanded rows
        $('#tg_results td.control').live('click', function () {
                var nTr = this.parentNode;
                var i = $.inArray( nTr, anOpen );
                if ( i === -1 ) {
                    $('i', this).attr( 'class', "icon-minus-sign" );
                    fnFormatDetails(nTr);
                    anOpen.push( nTr );
                }
                else {
                    $('i', this).attr( 'class', "icon-plus-sign" );
                    $('div.hero-small', $(nTr).next()[0]).slideUp( function () {
                        Table.fnClose( nTr );
                        anOpen.splice( i, 1 );
                    } );
                }
        });
        // Expand row details
        function fnFormatDetails(nTr)
        {
            var details_url = '/_get_' + group_by + '_details';
            var oData = Table.fnGetData(nTr);
            if (group_by == 'host') {
                var header = '<thead><tr><th>Title</th><th>Execution time</th><th>Severity</th><th>Link</th></tr></thead>'
                var primary = oData[2];
            } else if (group_by == 'ioc') {
                var header = '<thead><tr><th>Host</th><th>Execution time</th><th>Md5hash</th><th>Link</th></tr></thead>'
                var primary = oData[5];
            }
            var out = '<div class="hero-unit hero-small"><table class="table table-striped table-bordered" id="inner_results'+primary+'" style="background-color: white;">' + 
                      header + '<tbody><tr><td colspan="4" class="dataTables_empty">Loading data from server</td></tr></tbody></table></div>';

            var nRow = Table.fnOpen( nTr, out, 'details' );
            $('div.hero-small', nRow).slideDown();
            loadInnerTable(primary, details_url);
        }
        // dataTables for inner tables
        function loadInnerTable(key_id, ajax_source) {
            $('#inner_results'+key_id).dataTable( {
                        "bProcessing": true,
                        "bServerSide": true,
                        "sPaginationType": "bootstrap",
                        //"bDestroy": true,
                        //"bRetrieve": true,
                        "bAutoWidth": false,
                        "aaSorting": [[ 0, "asc" ]],
                        "sDom": "<'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
                        "aoColumns": [null, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}],
                        "sAjaxSource": ajax_source,
                        "fnServerParams": function ( aoData ) {
                            aoData.push( { "name" : "keyId",   "value" : key_id } );
                            aoData.push( { "name" : "sExecDate", "value" : params.exec_date } );
                            aoData.push( { "name" : "sExecDate2", "value" : params.exec_date2 } );
                            aoData.push( { "name" : "sIocs",     "value" : params.iocs } );
                            aoData.push( { "name" : "sHosts",    "value" : params.hosts } );
                            aoData.push( { "name" : "sCategories", "value" : params.categories } );
                            aoData.push( { "name" : "sSeverities", "value" : params.severities } );
                            aoData.push( { "name" : "sConfidences", "value" : params.confidences } );
                        },
                        "fnCreatedRow" : function(nRow, aData, iDataIndex) {
                            $('td:eq(3)', nRow).html(function() {
                                return '<a href="https://portal.threatgrid.com/malware_samples/'+$(this).text()+'" target="_blank">Binary '+$(this).text()+'</a>';
                            });
                        }
            });
        }
        // init datepicker
        var dates = $("#exec_date, #exec_date2").datepicker({
                        maxDate: "+0D",
                        onSelect: function( selectedDate ) {
                            var option = this.id == "exec_date" ? "minDate" : "maxDate",
                                instance = $( this ).data( "datepicker" ),
                                date = $.datepicker.parseDate( instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings );
                            dates.not( this ).datepicker( "option", option, date );
                        },
                        onClose: function () {
                            if (this.id == "exec_date")  {
                                params.exec_date = $(this).val(); 
                            }
                            else {
                                params.exec_date2 = $(this).val(); 
                            }
                            Table.fnDraw();
                        }
        });
        $("#exec_date").change(function () {
        });
        $("#exec_date2").change(function () {
        });
    } );
</script>
</body>

</html>

