<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Data tables</title>
 
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/bootstrap.min.css") }} />
<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
    div.main-container {
        margin-left: auto;
        margin-right: auto;
        width: 740px;
        float: left;
    }
    div.switch {
        margin-bottom: 10px;
        float: right;
    }
</style>
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/bootstrap-responsive.min.css") }} />
<link rel="stylesheet" type="text/css" media="screen" href={{url_for('static', filename="css/bootstrap-datatables.css") }} />
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Indicator of Compromise Dashboard</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Execution time</li>
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>

                        <li class="nav-header">IOCs</li>
                        <li><div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Select IOCs
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Action1</li>
                            </ul>
                            </div></li>

                        <li class="nav-header">Hosts</li>
                        <li><div class="btn-group open">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Select Hosts
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Action1</li>
                                <li>Action1</li>
                            </ul>
                            </div>
                        </li>

                        <li class="nav-header">Category</li>
                        <li><a href="#">Link</a></li>
                        <li class="nav-header">Severity</li>
                        <li><a href="#">Link</a></li>
                        <li class="nav-header">Confidence</li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span10">
                <div class="main-container">
                    <div class="switch btn-group">
                        <label>Group by</label>
                        <button class="btn btn-primary" id="ioc-btn">IOC</button>
                        <button class="btn" id="host-btn">Host</button>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tg_results">
                        <thead>
                            <tr>
                                <th width="25%">ID</th>
                                <th width="75%">Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="dataTables_empty">Loading data from server</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <footer>
        <p>&copy; Company 2012</p>
        </footer>

    </div><!--/.fluid-container-->

<!-- Javascript
================================================================================= -->
<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.7.1.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/bootstrap-datatables.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" charset="utf-8">
    /* Table initialisation */
    var state = 'ioc';
    var source_iocs = $SCRIPT_ROOT + "/_get_iocs";
    var source_hosts = $SCRIPT_ROOT + "/_get_host_binaries";
    var loadDataTable = function(ajaxSource) {
    $('#tg_results').dataTable( {
            "bProcessing": true,
            "bServerSide": true,
            "bDestroy": true,
            "sAjaxSource": ajaxSource,
            "sDom": "<'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {"sLengthMenu": "_MENU_ records per page"}
            });
    }
    $(function() {
        // load ioc source first time
        loadDataTable(source_iocs); 
        // add ioc and host button handlers
        $('#ioc-btn').click(function () {
            if (state == 'host') {
              state = 'ioc';
              loadDataTable(source_iocs);
              $(this).addClass('btn-primary');
              $('#host-btn').removeClass('btn-primary');
              }
        });
        $('#host-btn').click(function () {
            if (state == 'ioc') {
              state = 'host';
              loadDataTable(source_hosts);
              $(this).addClass('btn-primary');
              $('#ioc-btn').removeClass('btn-primary');
              }
        });
    } );
</script>
</body>

</html>

